<!-- -->
<launch>
	<param name="/aprilslam/tag_size" value="0.2" />
	<param name="/aprilslam/image_width" value="752" />
	<param name="/aprilslam/image_height" value="480" />
	<param name="/aprilslam/save_xml_path" value="/home/jz_algo/aprilmap.xml" />
	
	<param name="/aprilslam/camera_num" value="1"/>
	<param name="/aprilslam/camera_config_part_path" value="$(find aprilslam)/config/mynt_"/>
	<arg name="camera" default="/camera"/>
	<arg name="family" default="36h11"/>	<!-- Tag family currently hardcoded -->
<!--	<include file="$(find front_cam_caliber)/launch/param.launch" />-->
	<node pkg="aprilslam" type="detector_node" name="detector" output="screen" ns="$(arg camera)">
		<param name="family" type="string" value="$(arg family)"/>
		<remap from="camera" to="/mynteye/left/image_raw" />
	</node>

</launch>
